/* Universal styling */

:root {
    --main-accent-color: rgb(0, 0, 125);
    --main-background-color: white;
    --nav-background-color: rgb(220, 220, 220);
}

* {
    font-family: 'Open Sans';
}

body {
    margin: 0;
    border: none;
    padding: 0;
    color: var(--main-accent-color);
}

a {
    text-decoration: none;
}

/* Navbar styling */
/* Desktop Styling */
@media screen and (min-width: 800px) {
    #navbar-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: var(--main-accent-color);
        background-color: var(--nav-background-color);
    }
    
    #navbar-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        width: 65%;
        max-width: 700px;
    }

    #navbar-title {
        text-align: center;
    }
    
    #navbar-contacts i {
        margin: 30px;
        font-size: 1.2em;
    }
    
    #navbar-contacts i:hover {
        color: rgb(75, 75, 255);
    }
    
    #navbar-title {
        margin-right: 50px;
    }
    
    #navbar-menu {
        display: flex;
        flex-direction: row;
        width: 250px;
        justify-content: space-between;
    }

    #navbar-menu a {
        margin: 20px;
        font-size: 1.1em;
    }
    
    #navbar-menu a:hover {
        color: rgb(75, 75, 255);
    }
    
    #navbar-main h2 {
        font-weight: 600;
    }
    
    .navbar-item {
        color: var(--main-accent-color);
    }
}

/* Mobile Styling */
@media screen and (max-width: 800px) {
    nav {
        padding-bottom: 25px;
    }

    #navbar-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--main-accent-color);
        background-color: rgb(220, 220, 220);
    }

    #navbar-contacts {
        display: none;
    }

    #navbar-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #navbar-menu {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    #navbar-main h2 {
        font-weight: 600;
    }
    
    .navbar-item {
        color: var(--main-accent-color);
    }

    .navbar-item:hover {
        color: rgb(75, 75, 255);
    }

    .navbar-link-container {
        width: 33%;
        text-align: center;
    }
}

/*Main Page Styling */
main {
    min-height: 80vh;
}

/*Footer Styling */
footer {
    background-color: var(--main-accent-color);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--nav-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer a {
    text-decoration: none;
}

#footer-contact-buttons {
    width: 50%;
}

.footer-contact-item {
    color: var(--nav-background-color);
    font-size: 1.4em;
}

/*Footer desktop styling */
@media screen and (min-width: 800px) {
    #footer-learn-more {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 25px;
    }
}

/* Footer mobile styling */
@media screen and (max-width: 800px) {
    #footer-learn-more {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 25px;
    }
}


